*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    max-width: 375px;
    margin: 0 auto;
    text-align: left;
    color:black;
}
.common{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: black;
    color:white;
    height: 100px;
    line-height: 100px;
    margin: 5px;
}

.mainBody{
    background-color: whitesmoke;

}

.footer{
    position: fixed;
    background-color: black;
    color:white;
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 25px;
    line-height: 25px;
}

img{
    display:block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;
}

nav a{
    color: #333;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

nav a:hover{
    background-color: #ccc;
}

ol {
    list-style: decimal;
  }

.internship-list{
    display: flex;
    justify-content: center;
    list-style: decimal;
    padding-left: 0px;
    margin-bottom: 40px;
    max-width: 375px;

}
.internship-list {
  display: flex;
  justify-content: center;
}

.internship-list ol {
  list-style: decimal;
  padding-left: 0;
}

.internship-list li {
  margin-bottom: 40px;
  max-width: 700px;
  text-align: center;
}

  